.header-container {
  position: fixed;
  width: 100%;
}
.header {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.menu ul {
  display: flex;
  gap: 20px;
}

.menu ul li a {
  white-space: nowrap;
}

#trabalhista {
  width: 100%;
  padding-top: 80px;
  box-shadow: 0px 1px 15px -8px rgba(0, 0, 0, 0.5);
}

.trabalhista-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.trabalhista-container img {
  grid-column: 1;
  grid-row: 1 / 3;
}

.trabalhista-container h1 {
  place-self: end start;
}
