.p-btn a {
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 2px 0 4px -3px rgba(0, 0, 0, 0.5);
  background-color: var(--v5);
  text-transform: uppercase;
  transition: ease-in 0.3s;
}

.p-btn a:hover {
  background-color: var(--v6);
  color: var(--v3);
}

.s-btn a {
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 2px 0 4px -3px rgba(0, 0, 0, 0.5);
  border: solid 1px var(--v1);
  text-transform: uppercase;
  transition: ease-in 0.3s;
}

.s-btn a:hover {
  color: var(--v3);
  border-color: var(--v3);
}

.font-xl {
  color: var(--v1);
  font-size: 2rem;
}

.font-m {
  color: var(--v1);
  font-size: 1rem;
}
