@import "/assets/css/conteudo.css";
@import "/assets/css/utilitario.css";
@import "/assets/css/chat.css";

:root {
  --v8: #082b34;
  --v7: #17434e;
  --v6: #2a5a69;
  --v5: #366b77;
  --v4: #548a92;
  --v3: #91b9bc;
  --v2: #ebf1f1;
  --v1: #f6f9fa;
  --s1: #e08161;
  --g1: linear-gradient(
    145deg,
    rgba(78, 132, 144, 1) 0%,
    rgba(93, 147, 156, 1) 100%
  );
  --g2: linear-gradient(
    145deg,
    rgba(226, 220, 220, 1) 0%,
    rgba(235, 241, 241, 1) 100%
  );
}
html {
  scroll-behavior: smooth;
  font-family: Helvetica, sans-serif, Arial;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--v1);
}

a {
  text-decoration: none;
  color: var(--v1);
  display: inline-block;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
p,
ul,
li,
a {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}
